*{
    padding: 0;
    margin: 0%;
}
.inner-header {
    background-color: orange;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}

ul#main-menu{
    display: flex; 
}
ul#main-menu a {
    color: black;
    margin-left: 190px;
    padding: 10px 30px;
    display: block;
}
#modal-order-code .modal-body{
    background-color:coral;
    width: auto;
    height: 150px;
}
h1 {
    
  color: coral;  
}
h2 {
    color: coral; 
}
p {
  font-style: italic;
  color: coral;
}
.contend-border {
   width: auto;
   height: 250px;
   text-align: center;
}
.card-header {
    margin-left: 20px;
    background-color: chocolate;
}
.content-spend {
    text-align: center;
}
.col {
}
.card-title{
    margin-left: 5px;
}
.card-title p{
    height: 431,58px;
    margin-left: 5px;
}
.color-1{
 
    background-color: bisque;
}
.color-2{
 
    background-color: yellow;
}
.color-3{
 
    background-color: orange;
}
.color-4{
 
    background-color:rgb(110, 75, 9) ;
}
.card{
    height: 408px;
    text-align: center;
}
.foodter {
    height: 250px;
    background-color: coral;
}